<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Warn">
  <Appenders>
  	<Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d{HH:mm:ss} [%t] %level %c{3}: %msg%n%throwable}"/>
  	 <Filters>
  	 	 <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
  	 </Filters>
   </Console>
   <File name="FileDebug" fileName="logs/fileLog.log" append="false">
      <PatternLayout>
        <Pattern>%d %p %c{-3} [%t] %m%n</Pattern>
      </PatternLayout>
      <Filters>
       <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
    </File>
      <File name="FileError" fileName="logs/fileLog.log" append="false">
      <PatternLayout>
        <Pattern>%d %p %c{-3} [%t] %m%n</Pattern>
      </PatternLayout>
      <Filters>
       <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
    </File>
  </Appenders>
  <Loggers>
  	<Logger name="runner.Runner" level="INFO" additivity="false">
  		<AppenderRef ref="Console" />
  		<appender-ref ref="FileError"/>
  	</Logger>
  	<Logger name="util.parser.BaseParser" level="debug" additivity="false">
  		<AppenderRef ref="Console" />
  		<appender-ref ref="FileDebug"/>
  	</Logger>
  	<Logger name="util.parser.ParagraphListingParser" level="debug" additivity="false">
  		<appender-ref ref="FileDebug"/>
  	</Logger>
  	<Logger name="util.Helper" level="debug" additivity="false">
  		<appender-ref ref="Console"/>
  		<appender-ref ref="FileDebug"/>
  		<appender-ref ref="FileError"/>
        
  	</Logger>
  	<Root level="error">
      <AppenderRef ref="FileDebug"/>
      <appender-ref ref="FileError"/>
    </Root>  
  </Loggers>
</Configuration>
